#modeSwitch {
    background-color: #7a2ce8;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    width: 20%;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    position: relative;
    left: 40%;
    top: 50px;
}




.dark-mode h1 {
    animation: glowText 1s ease-in-out infinite alternate;
}

.dark-mode h1 {
    animation: glowText 1s ease-in-out infinite alternate;
}

h1 {
    color: white;
    text-align: center;
    font-size: 100pt;
    font-family: "fabiola-capitals", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 90pt;
    position: fixed;
    left: 50%;
    top: 12%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}
user agent stylesheet
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.dark-mode .lunar-card {
    background-color: #333;
    color: ghostwhite;
}

.lunar-card:hover {
    background-color: #f0f0f0;
}
.lunar-card:hover {
    background-color: #f0f0f0;
}
.lunar-card {
    text-align: center;
    background-color: #fff;
    color: #fff;
    width: 50%;
    padding: 20px;
    margin: 10px;
    font-size: 20pt;
    position: relative;
    left: 23%;
    top: 50%;
    font-family: "the-seasons", sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 10px;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
}
user agent stylesheet
div {
    display: block;
}
.dark-mode {
    background-color: #111;
    color: #fff;
    opacity: 100%;
    
}
body {
    
    background-color: black ;
    width: auto;
}
::selection {
    background: rgba(255, 255, 255, 0.6);
    color: rgba(139, 0, 139, 0.6);
}

body {
    display: block;
    margin: 8px;
}



